<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}zws!{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('asset/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/top.css') }}">
    {% block css %}

    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body style="font-family: Arial!important" class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<div class="m-grid m-grid--hor m-grid--root m-page">
    <header class="container top-container">
        <div id="top">
            <a href="http://zws.com.pl"><img src="{{ asset('asset/top.jpg') }}"></a>
        </div>
        <div class="menu_system">
            <a href="http://zws.com.pl">Strona główna</a>
            {% if not app.user %}
                <a href="{{ path('login') }}">Logowanie</a>
            {% elseif is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}">Panel admina</a>
            {% else %}
                <a href="{{ path('tasks') }}">Panel klienta</a>
            {% endif %}

            {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('change_password_admin') }}">Zmień hasło</a>
            {% else %}
                <a href="{{ path('change_password') }}">Zmień hasło</a>
            {% endif %}
                <a href="{{ path('logout') }}">Wyloguj się</a>
            {% endif %}
        </div>
        <a class="form_zlecenia" href="{{ path('form') }}">Formularz zleceń</a>
    </header>
    {% block body %}{% endblock %}
</div>
{% block js %}
{% endblock %}
</body>
</html>
