{% extends 'admin/layout.html.twig' %}

{% block content %}
<div class="tab-content">
    <div class="tab-pane active" id="m_user_profile_tab_1">
        <div class="m-form m-form--fit m-form--label-align-right">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="m-form__section">
                            <p>Dane osobiste</p>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Imię i nazwisko klienta:
                    </strong>
                    <div class="col-8">
                        <p class="m-input">{{ task.user.name }} {{ task.user.surname }}</p>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Telefon kontaktowy:
                    </strong>
                    <div class="col-8">
                        <p class="m-input">{{ task.user.phone }}</p>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Adres:
                    </strong>
                    <div class="col-8">
                        <p class="m-input">{{ task.postCode }} {{ task.place }} - {{ task.street }} {{ task.houseNumber }}</p>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Rodzja zlecenia:
                    </strong>
                    <div class="col-8">
                        <p class="m-input">{{ task.task }}</p>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Numer działki:
                    </strong>
                    <div class="col-8">
                        <p class="m-input">{{ task.nrPlot }}</p>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Uwagi:
                    </strong>
                    <div class="col-8">
                        <p class="m-input" style="height: 100%;">{{ task.comments }}</p>
                    </div>
                </div>
                {% if task.term %}
                    <div class="row">
                        <strong class="col-4">
                            Termin realizacji:
                        </strong>
                        <div class="col-8">
                            <p class="m-input" style="height: 100%;">{{ task.term }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if task.image %}
                    <div class="row">
                        <strong class="col-4">
                            Dołączony plik:
                        </strong>
                        <div class="col-8">
                            <a href="{{ app.request.getUriForPath(vich_uploader_asset(task, 'imageFile')) }}" target="_blank">Pokaż plik</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
