{% extends 'admin/layout.html.twig' %}

{% block content %}
    <form method="POST">
        <div class="header-form">
            <h5>Formularz wyceny</h5>
        </div>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="m-form__section h3">
                        <p>Informacje o zleceniu</p>
                    </h3>
                </div>
            </div>
            <div class="row">
                <strong class="col-4">
                    Adres
                </strong>
                <div class="col-8">
                    <p class="col-form-label m-input">{{ task.postCode }} {{ task.place }} {{ task.street }} {{ task.houseNumber }}</p>
                </div>
            </div>
            <div class="row">
                <strong class="col-4">
                    Rodzaj zlecenia:
                </strong>
                <div class="col-8">
                    <p class="col-form-label m-input">{{ task.task }}</p>
                </div>
            </div>
            <div class="row">
                <strong class="col-4">
                    Uwagi klienta:
                </strong>
                <div class="col-8">
                    <p class="col-form-label m-input" style="height: 100%">{{ task.comments }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <h4>Cena brutto<span>*</span></h4>
                <input type="text" class="form-control" id="price" name="price" required>
            </div>
            <div class="form-group col-6">
                <h4>Termin rozpoczęcia zlecenia <span>*</span></h4>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
        </div>
        <div class="form-row no-after">
            <div class="form-group col-6-2" style="width:100%">
                <h4>Uwagi do zlecenia <span>*</span></h4>
                <textarea class="form-control" name="valuationComments" required></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="close-modal">Zamknij</button>
            <button type="submit" class="btn btn-primary">Wyślij wycene</button>
        </div>
    </form>
{% endblock %}
