{% extends 'panel/panel.html.twig' %}

{% block content %}
<div class="tab-content">
    <div class="tab-pane active" id="m_user_profile_tab_1">
        <div class="m-form m-form--fit m-form--label-align-right">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="m-form__section">
                            <p>Dane osobiste</p>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Imię i nazwisko:
                    </strong>
                    <div class="col-8">
                        <p class="col-form-label m-input">{{ app.user.name }} {{ app.user.surname }}</p>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Telefon:
                    </strong>
                    <div class="col-8">
                        <p class="col-form-label m-input">{{ app.user.phone }}</p>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Kod pocztowe:
                    </strong>
                    <div class="col-8">
                        <p class="col-form-label m-input">{{ app.user.postCode }}</p>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Miejscowość:
                    </strong>
                    <div class="col-8">
                        <p class="col-form-label m-input">{{ app.user.place }}</p>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Ulica:
                    </strong>
                    <div class="col-8">
                        <p class="col-form-label m-input">{{ app.user.street }}</p>
                    </div>
                </div>
                <div class="row">
                    <strong class="col-4">
                        Numer domu:
                    </strong>
                    <div class="col-8">
                        <p class="col-form-label m-input">{{ app.user.houseNumber }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
