{% extends 'base.html.twig' %}

{% block css %}
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <link rel="stylesheet" href="{{ asset('asset/css/vendors.bundle.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/style.bundle.css') }}">
    <style>
        .form_zlecenia {
            width: 24%;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-content">
            <div class="row">
                <div class="col-xl-12">
                    <div class="m-portlet m-portlet--full-height m-portlet--tabs">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-tools">
                                <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary">
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link {% if not tasks %}active{% endif %}" href="{{ path('panel') }}">
                                            Dane profilowe
                                        </a>
                                    </li>
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link {% if tasks %}active{% endif %}" href="{{ path('tasks') }}">
                                            Zlecenia
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <scritp src="{{ asset('asset/js/vendors.bundle.js') }}"></scritp>
    <scritp src="{{ asset('asset/js/scripts.bundle.js') }}"></scritp>
{% endblock %}

{% block js %}

{% endblock %}