{% extends 'panel/panel.html.twig' %}

{% block content %}
    <div class="m-portlet m-portlet--full-height m-portlet--tabs">
        <div class="m-portlet__body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#m_modal_1">Dodaj nowe zlecenie</button>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Miejscowość</th>
                    <th>Adres</th>
                    <th>Rodzaj zlecenia</th>
                    <th>Wyceniono</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% for key, task in tasks %}
                <tr>
                    <th scope="row">ZWS/{{ 'now'|date('Y') }}/{{ task.id }}</th>
                    <td>{{ task.place }}</td>
                    <td>{{ task.street }} {{ task.houseNumber }}</td>
                    <td>{{ task.task }}</td>
                    <td>{% if task.valuation %} {{ task.valuation }}zł {% else %} Nie dokonano jeszcze wyceny {% endif %}</td>
                    <td>
                        <a href="{{ path('task_one', {id: task.id}) }}" class="btn btn-default">Pokaż szczegóły</a>
                        {% if not task.valuation %} <a href="{{ path('task_edit', {id: task.id}) }}" class="btn btn-secondary">Edytuj</a> {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow: auto!important;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nowe zlecenie</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data">
                    <div class="header-form">
                        <h5>Formularz zlecenia</h5>
                    </div>
                    <h3>Miejsce wykonania zlecenia</h3>
                        <div class="row">
                            <div class="form-group col-6">
                                <h4>Ulica <span>*</span></h4>
                                <input type="text" class="form-control" id="street" name="street" placeholder="ul. Przemysłowa" required>
                            </div>
                            <div class="form-group col-6">
                                <h4>Nr domu <span>*</span></h4>
                                <input type="text" class="form-control" id="houseNumber" name="houseNumber" placeholder="25" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <h4>Kod pocztowy <span>*</span></h4>
                                <input type="text" class="form-control" id="postCode" name="postCode" placeholder="25-312" required>
                            </div>
                            <div class="form-group col-6">
                                <h4>Miejscowość <span>*</span></h4>
                                <input type="text" class="form-control" id="place" name="place" placeholder="Kielce" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4>Numer działki <span>*</span></h4>
                            <input type="text" class="form-control" id="nrPlot" name="nrPlot" required>
                        </div>
                        <h3>Informacje o zleceniu</h3>
                        <div class="form-group">
                            <h4>Rodzaj zlecenia <span>*</span></h4>
                            <select class="form-control" name="task" required>
                                <option value="" disabled selected>Wybierz rodzaj zlecenia</option>
                                <option value="studnia głębinowa">studnia głębinowa</option>
                                <option value="studnia depresyjna">studnia depresyjna</option>
                                <option value="zestawy igłofiltrowe">zestawy igłofiltrowe</option>
                                <option value="pale wiercone">pale wiercone</option>
                                <option value="pompy głębinowe">pompy głębinowe</option>
                                <option value="siatka filtracyjna">siatka filtracyjna</option>
                                <option value="wyposażenie studni">wyposażenie studni</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <h4>Szacowany termin realizacji</h4>
                            <input type="text" class="form-control" id="term" name="term" required>
                        </div>
                        <div class="form-row no-after">
                            <div class="form-group col-6-2" style="width:100%">
                                <h4>Uwagi do zlecenia <span>*</span></h4>
                                <textarea class="form-control" placeholder="" name="comments" required></textarea>
                                <div class="form-bottom radio-btns">
                                    <div class="form-group">
                                        <object data="data:image/svg+xml;base64,{{ asset('asset/folder.svg') }}" type="image/svg+xml"></object>
                                        <p class="file-load--">Dodaj plik np: mapka działki (JPG,PDF)</p>
                                    </div>

                                    <input type="file" name="task_imageFile" id="task_imageFile" class="form-control-file">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="close-modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Dodaj zlecenie</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ asset('asset/js/bootstrap.js') }}"></script>
    <script src="{{ asset('asset/js/addons.js') }}"></script>
    <script>
        var button = document.querySelector('button[data-toggle="modal"]');
        var closeModal = document.querySelector('#close-modal');
        var modal = document.querySelector('#m_modal_1');
        button.addEventListener('click', function(e) {
            modal.classList.add('show');
        });

        closeModal.addEventListener('click', function() {
            modal.classList.remove('show')
        });
    </script>
{% endblock %}